In [1]:
import pandas as pd
import re
import json
from collections import Counter
from datetime import datetime
from pandas.io.json import json_normalize

DATA_CLEAN_MESSAGES='clean_messages.csv'
DATA_RAW_MESSAGES='raw_messages.csv'
DATA_WEATHER='weather_data.json'
DB_FILE_PATH = 'xomnia.db'
EXPANDED_COLUMNS_NAME=['status','lat','lat_dir','lon','lon_dir','speed','track_degrees','date','mag_var','mag_var_dir']

In [2]:
df_rm=pd.read_csv(DATA_RAW_MESSAGES).rename(columns={'\tdevice_id':'device_id'})

### Exercise 1: reading the input data

In [3]:
def unwanted_chars_from_column(df_coulmn=df_rm['raw_message'],regex_allowed_chars="[^0-9a-zA-Z,.]"):
    df_unwanted_chars=df_coulmn.apply(lambda x: (re.findall(regex_allowed_chars, x)))
    unique_list_unwanted_chars=list(set([' '.join(y) for x in df_unwanted_chars for y in x]))
    return unique_list_unwanted_chars
unwanted_chars=unwanted_chars_from_column()
unwanted_chars

['$', '%', '@', '&', '*']

In [4]:
def expand_column_with_delimiter(column=df_rm['raw_message'],
                                 delimiter=',',
                                 expand=True,
                                 new_columns_names=EXPANDED_COLUMNS_NAME):
    col_names = dict(zip(range(0, len(new_columns_names)), new_columns_names))
    return column.str.split(delimiter,expand=expand).rename(columns=col_names)

expand_column_with_delimiter();

In [5]:
def concat_main_df_with_expanded_columns(df1,df2):
    return pd.concat([df1,df2],axis=1)
df_rm=concat_main_df_with_expanded_columns(df_rm,expand_column_with_delimiter());

In [6]:
def replace_unwatned_characters(df=df_rm,columns_names=EXPANDED_COLUMNS_NAME):
    df_rm[columns_names]=df_rm[columns_names].replace(regex=str([x for x in unwanted_chars]), value='')
    return df_rm
df1=replace_unwatned_characters()
df1.head(5)

,device_id,datetime,address_ip,address_port,original_message_id,raw_message,status,lat,lat_dir,lon,lon_dir,speed,track_degrees,date,mag_var,mag_var_dir
0,0001,1550066999,172.19.0.17,4007,1550070599576-0,"A,5$1.31%8308166&6666@7,*N,4.31572216@6666666,...",A,51.31830816666667,N,4.315722166666666,E,0.0,1.59,150218,0.8,E
1,0001,1550067661,172.19.0.16,4007,1550071261429-0,"A,5$1.31%8308166&6666@7,*N,4.31572216@6666666,...",A,51.31830816666667,N,4.315722166666666,E,0.0,1.59,150218,0.8,E
2,0001,1550067048,172.19.0.17,4007,1550070648974-0,"A,51.3183085,N,4.315720833333334,E,0.0,5.25,15...",A,51.3183085,N,4.315720833333334,E,0.0,5.25,150218,0.8,E
3,0001,1550069034,172.19.0.16,4007,1550072634730-0,"A,51.3183085,N,4.315720833333334,E,0.0,5.25,15...",A,51.3183085,N,4.315720833333334,E,0.0,5.25,150218,0.8,E
4,0001,1550069696,172.19.0.16,4007,1550073296534-0,"A,51.3183085,N,4.315720833333334,E,0.0,5.25,15...",A,51.3183085,N,4.315720833333334,E,0.0,5.25,150218,0.8,E

## Exercise 2: calculating metrics

### 2.1

In [7]:
## Check the number of rows for each deivce_id
Counter(df1['device_id'])

Counter({'0001': 4110, 'st-1a2090': 23718, '1': 1226})

It seems that the device_id of '1' should be the same as '0001'. For any reason, the zeros before 1 are dropped.
We investigate possibilities. If they have the common IP addresses, our assumption could be correct. However, the more domain knowledge of how this data is collected, could be very helpful

In [8]:
address_ip_0001=df1[df1['device_id']=='0001']['address_ip'].unique() 
address_ip_1=df1[df1['device_id']=='1']['address_ip'].unique()
sorted(address_ip_0001),sorted(address_ip_1)

(['172.18.0.14',
  '172.18.0.15',
  '172.18.0.17',
  '172.19.0.11',
  '172.19.0.15',
  '172.19.0.16',
  '172.19.0.17'],
 ['172.18.0.14',
  '172.18.0.17',
  '172.19.0.11',
  '172.19.0.15',
  '172.19.0.16',
  '172.19.0.17'])

Based on the result, just the ip '172.18.0.15' is not in address_ip_1. It could be defected for any reasons. As a result, we have two ships and we should change device_id=1 to 0001.

In [9]:
df1['device_id']=df1['device_id'].replace('1','0001')
Counter(df1['device_id'])

Counter({'0001': 5336, 'st-1a2090': 23718})

**we have two ships: 0001 & st-1a2090**

### 2.2

In [10]:
#  %H:%M:%S
def create_time_column(df=df1,col_name='hour',time='%Y-%m-%d %H'):
    df[col_name]= df['datetime'].apply(lambda  x: datetime.fromtimestamp(x).strftime(time))
    return df
df=create_time_column()

In [11]:
def create_correct_date_column(df=df1,col_name='correct_date'):
    df[col_name]=df['datetime'].apply(lambda  x: datetime.fromtimestamp(x).strftime('%Y-%m-%d'))
    return df
df=create_correct_date_column()

In [12]:
def min_max_column_over_day(df,ship_id,column,date='correct_date'):
    df[column]=df[column].astype('float')
    groupby_df=df[df['device_id']==ship_id][['device_id',date,column]].groupby([date])
    maximum=groupby_df.max(column).rename(columns={column:str('max_'+column)}).reset_index()
    minimum=groupby_df.min(column).rename(columns={column:str('min_'+column)}).reset_index()
    return maximum.merge(minimum[[date,str('min_'+column)]],on=date)
df2_2=min_max_column_over_day(df1,'st-1a2090','speed')
df2_2

  correct_date  max_speed  min_speed
0   2019-02-10       4.97       4.95
1   2019-02-11       1.49       0.00
2   2019-02-12       0.02       0.00
3   2019-02-13      11.50       0.00
4   2019-02-14       9.37       0.00

In [13]:
df2_2.to_csv('2.2_max_min_speed.csv')

### 2.3

In [14]:
def average_column_for_ships(df=df1,date='2019-02-13',column='speed'):
    df[column]=df[column].astype('float')
    return df[df['correct_date']==date][['speed','device_id','hour']].groupby(['device_id','hour']).mean(column).reset_index()
df2_3=average_column_for_ships()
df2_3

    device_id           hour      speed
0        0001  2019-02-13 09   0.011667
1        0001  2019-02-13 10   0.003333
2        0001  2019-02-13 11   0.011630
3        0001  2019-02-13 12   0.010591
4        0001  2019-02-13 13   0.012800
5        0001  2019-02-13 14   0.008848
6        0001  2019-02-13 15   0.012530
7        0001  2019-02-13 16   0.011339
8   st-1a2090  2019-02-13 09   9.655000
9   st-1a2090  2019-02-13 10   4.980900
10  st-1a2090  2019-02-13 11   0.254370
11  st-1a2090  2019-02-13 12   5.596832
12  st-1a2090  2019-02-13 13  11.056377
13  st-1a2090  2019-02-13 14   8.891611
14  st-1a2090  2019-02-13 15   7.324949
15  st-1a2090  2019-02-13 16   8.645100
16  st-1a2090  2019-02-13 17   9.112288
17  st-1a2090  2019-02-13 18   1.715034
18  st-1a2090  2019-02-13 19   0.293938
19  st-1a2090  2019-02-13 20   0.018777
20  st-1a2090  2019-02-13 21   0.015053
21  st-1a2090  2019-02-13 22   0.024481
22  st-1a2090  2019-02-13 23   0.031600

In [15]:
df2_3.to_csv('2.3_avg_speed.csv')

## Exercise 3: Weather data

In [16]:
df_w=pd.read_json(DATA_WEATHER)

In [17]:
def flat_table_full_weather_conditions(df=df_w):
    df_flat = pd.DataFrame()
    for idx in range(len(df)):
        temp_df = df[df.index == idx].reset_index()
        temp_df_norm = pd.json_normalize(temp_df['data'][0])
        df_flat = df_flat.append(
            pd.merge(temp_df,
                     temp_df_norm,
                     how='outer',
                     left_index=True,
                     right_index=True).fillna(method='ffill'))
    return df_flat.drop(columns=['index'])

df_flat = flat_table_full_weather_conditions()

In [18]:
def round_time_nearest_hour(time):
    y=datetime.fromtimestamp(time)
    new_hour=y.hour+y.minute//30
    if new_hour==24:
        new_hour=0
    return y.replace(hour=new_hour).replace(minute=0).replace(second=0)

df1['nearest_hour']=df1['datetime'].apply(lambda x:round_time_nearest_hour(x))
df_flat['nearest_hour']=df_flat['ts'].apply(lambda x:round_time_nearest_hour(x))

In [19]:
def round_gps(column,decimals=4):
    return column.astype('float').round(decimals=decimals)

df1['lat']=round_gps(df1['lat'])
df1['lon']=round_gps(df1['lon'])
df_flat['lat']=round_gps(df_flat['lat'])
df_flat['lon']=round_gps(df_flat['lon'])

In [23]:
def clean_join_input_data_with_flat_data(df1=df1, df2=df_flat, how='left', join_list=['lat', 'lon', 'nearest_hour']):
    result = df1.merge(df2, how=how, on=join_list)
    return result[~result.isna().any(axis=1)]

clean_join_input_data_with_flat_data().head(5)

,device_id,datetime_x,address_ip,address_port,original_message_id,raw_message,status,lat,lat_dir,lon,...,dni,azimuth,datetime_y,temp,precip,clouds,ts,weather.icon,weather.code,weather.description
28,st-1a2090,1550052436,172.23.0.1,4007,1550056036964-0,"A,5$1.90%3500666&6666@66*,N,5.5429625@,E,0.0,5...",A,51.9035,N,5.543,...,697.54,150.99,2019-02-13:10,3.7,0.0,88.0,1.550052e+09,c04d,804.0,Overcast clouds
29,st-1a2090,1550052437,172.23.0.1,4007,1550056037556-0,"A,51.903500666666666,N,5.5429623333333335,E,0....",A,51.9035,N,5.543,...,697.54,150.99,2019-02-13:10,3.7,0.0,88.0,1.550052e+09,c04d,804.0,Overcast clouds
532,st-1a2090,1550052376,172.23.0.1,4007,1550055976972-0,"A,5$1.90%3498,N,&5.54@29*67833333333,@E,0.0,25...",A,51.9035,N,5.543,...,697.54,150.99,2019-02-13:10,3.7,0.0,88.0,1.550052e+09,c04d,804.0,Overcast clouds
533,st-1a2090,1550052383,172.23.0.1,4007,1550055983470-0,"A,51.903498,N,5.542968833333333,E,0.0,249.97,1...",A,51.9035,N,5.543,...,697.54,150.99,2019-02-13:10,3.7,0.0,88.0,1.550052e+09,c04d,804.0,Overcast clouds
534,st-1a2090,1550052383,172.23.0.1,4007,1550055983976-0,"A,51.903498,N,5.542968833333333,E,0.0,253.24,1...",A,51.9035,N,5.543,...,697.54,150.99,2019-02-13:10,3.7,0.0,88.0,1.550052e+09,c04d,804.0,Overcast clouds

## Exercise 4: SQL

In [21]:
import sqlite3 
from sqlite3 import Error

In [22]:
def connect_to_db(db_file):
    """
    Connect to an SQlite database, if db file does not exist it will be created
    :param db_file: absolute or relative path of db file
    :return: sqlite3 connection
    """
    connection = None
    
    try:
        connection = sqlite3.connect(db_file)
        return connection

    except Error as err:
        print(err)

        if connection is not None:
            connection.close()

In [24]:
connection = connect_to_db(DB_FILE_PATH)

with connection as connection:
    df1.to_sql(name='ex4', con=connection, if_exists='replace', index=False)
    df2_2.to_sql(name='df2_2', con=connection, if_exists='replace', index=False)
    df2_3.to_sql(name='df2_3', con=connection, if_exists='replace', index=False)

## Bonus Exercise

In [2]:
#!pip install fastapi
# !pip install uvicorn

Collecting uvicorn
  Using cached uvicorn-0.13.3-py3-none-any.whl (45 kB)
Requirement already satisfied: click==7.* in c:\programdata\anaconda3\lib\site-packages (from uvicorn) (7.0)
Collecting h11>=0.8
  Using cached h11-0.12.0-py3-none-any.whl (54 kB)
Requirement already satisfied: typing-extensions; python_version < "3.8" in c:\programdata\anaconda3\lib\site-packages (from uvicorn) (3.7.4.2)
Installing collected packages: h11, uvicorn
Successfully installed h11-0.12.0 uvicorn-0.13.3

In [28]:
from fastapi import FastAPI
app = FastAPI()
@app.get("/")
def read_root():
    return {"Hello": "World"}
@app.get("/items/{item_id}")
def read_item(item_id: int, q: str = None):
    return {"item_id": item_id, "q": q}